# Heroic Joins with SQL

In this lab, we will explore the Marvel Superhero Universe using the concept of SQL `JOINS` (in particular, we'll be using `sqlite`). 

![Marvel Superheroes](figures/marvel.png) (from http://vignette1.wikia.nocookie.net/marveldatabase/images/e/e1/The_Marvel_Universe.png/revision/latest?cb=20110513164401)

There are a **lot** of superheroes in the Marvel Universe, and a **lot** of superhero movies, so we'll just be examining a small portion today. As you'll see, we are storing the information about the superheroes separately from the information about the superhero movies. In addition, since superheroes frequently use aliases rather than their real names, it makes sense that we might want to store those real names separately from their superhero personae. 

When information is stored in separate tables, the way to recombine the information is to do a join. In SQL, JOIN is a means of combining fields from two tables by using values common to each.

We commonly use Venn diagrams to represent the behavior of SQL joins, such as this one:   
![SQL Joins](figures/sqljoins.jpg)

Here are some additional resources that you may find helpful as you are learning about and practicing SQL JOINS (and using `sqlite`):

- [Tutorials point on Joins](http://www.tutorialspoint.com/sql/sql-using-joins.htm)
    - [Tutorials point specifically for sqlite](http://www.tutorialspoint.com/sqlite/)    
    
- [W3 schools on Joins](http://www.w3schools.com/sql/sql_join.asp)
    - [W3 schools resources specifically for sqlite](http://www.w3resource.com/sqlite/index.php)    
    
- [A visual explanation of sql joins](http://blog.codinghorror.com/a-visual-explanation-of-sql-joins/)


## Get Connected

Ok, let's get started. The first thing we need to do is import `sqlite`:

In [1]:
import sqlite3

Next, we need to establish a connection to the database. In this case, I have already built a database for you called "superheroes.db", and it will be *your* job to implement different kinds of joins in order to answer the questions below.

In [3]:
DBPATH = 'superheroes.db'
conn = sqlite3.connect(DBPATH)

Here is what the database looks like:

![SuperheroesDB](figures/superheroesDB.png)

Next we'll create a cursor object to help us execute our SQL statements:

In [12]:
cursor = conn.cursor()

The JOIN statements we write will all follow roughly the same pattern that our SELECT statements followed in this morning's workshop. That is to say they will look something like:

```python
cursor.execute("""
    SELECT 
        [information] 
    FROM 
        [first_table] 
    [SOME JOIN] 
        [second_table] ON firsttable.column_name = secondtable.column_name
""")
  
print(cursor.fetchall())
```

Note that the code above uses `"""` which is a Python feature to have newlines/carriage returns in a string.  The multiple line formatting shown above are not needed but help with readability.


## Who's the star of the movie?

How can we query our database to determine who is the star of the movie? In this case, let's use LEFT JOIN to pair the title of each movie with the name of its main character.

In [7]:
# Write the SQL code here

cursor.execute("""
    SELECT 
        Movies.title, Superheroes.name
    FROM 
        Movies
    LEFT JOIN 
        Superheroes ON Movies.superhero_id = Superheroes.id
""")
  
print(cursor.fetchall())

[('Iron Man', 'Iron Man'), ('Iron Man 2', 'Iron Man'), ('Iron Man 3', 'Iron Man'), ('Guardians of the Galaxy', 'Starlord'), ('Ant-Man', 'Ant-Man'), ('Deadpool', 'Deadpool'), ('The Incredible Hulk', 'Hulk'), ('Captain America: The First Avenger', 'Captain America')]

## What's your *real* name?

We can also use LEFT JOIN to query our database to find out a superhero's real name.  Let's pair the real name of each character with their superhero alias.

In [9]:
# Write the SQL code here:

cursor.execute("""
    SELECT 
        Superheroes.name, RealNames.name
    FROM 
        Superheroes
    LEFT JOIN 
        RealNames ON RealNames.superhero_id = Superheroes.id
""")
  
print(cursor.fetchall())

[('Iron Man', 'Tony Stark'), ('Ant-Man', 'Hank Pym'), ('Ant-Man', 'Scott Lang'), ('Deadpool', 'Wade Wilson'), ('Black Widow', 'Natasha Romanov'), ('Captain America', 'Steve Rogers'), ('Hawkeye', 'Clint Barton'), ('Hulk', 'Bruce Banner'), ('Starlord', 'Peter Quill')]

In [11]:
#Note: Unclear if we wanted the real names for the listed heroes ONLY, or if we wanted to check which characters have a hero alias, or if we only wanted a list of characters with aliases

cursor.execute("""
    SELECT 
        Superheroes.name, RealNames.name
    FROM 
        RealNames
    LEFT JOIN 
        Superheroes ON RealNames.superhero_id = Superheroes.id
""")
  
print(cursor.fetchall())

[('Iron Man', 'Tony Stark'), ('Hulk', 'Bruce Banner'), ('Black Widow', 'Natasha Romanov'), ('Ant-Man', 'Scott Lang'), ('Ant-Man', 'Hank Pym'), ('Captain America', 'Steve Rogers'), ('Hawkeye', 'Clint Barton'), ('Deadpool', 'Wade Wilson'), ('Starlord', 'Peter Quill'), (None, 'Nick Fury')]

## Who's actually a superhero?

Let's use an INNER JOIN to select only characters who have a superhero alias.

In [15]:
# Write the SQL code here:

cursor.execute("""
    SELECT 
        RealNames.name, Superheroes.name
    FROM 
        RealNames
    INNER JOIN 
        Superheroes ON RealNames.superhero_id = Superheroes.id
""")
  
print(cursor.fetchall())

[('Tony Stark', 'Iron Man'), ('Bruce Banner', 'Hulk'), ('Natasha Romanov', 'Black Widow'), ('Scott Lang', 'Ant-Man'), ('Hank Pym', 'Ant-Man'), ('Steve Rogers', 'Captain America'), ('Clint Barton', 'Hawkeye'), ('Wade Wilson', 'Deadpool'), ('Peter Quill', 'Starlord')]

## Which superheroes have their own movies?

Not all superheroes have their own movies. Let's use another INNER JOIN to select only superheroes who have a lead role in a movie.

In [39]:
#Could we loop through the heroes list and check if they are a lead in Movies to only list them once?
#ex: IronMan is listed a total of 3 times

# Write the SQL code here:
cursor.execute("""
    SELECT 
        Superheroes.name, Movies.title
    FROM 
        Superheroes 
    INNER JOIN 
        Movies ON Movies.superhero_id = Superheroes.id
""")
  
print(cursor.fetchall())

[('Iron Man', 'Iron Man'), ('Iron Man', 'Iron Man 2'), ('Iron Man', 'Iron Man 3'), ('Starlord', 'Guardians of the Galaxy'), ('Ant-Man', 'Ant-Man'), ('Deadpool', 'Deadpool'), ('Hulk', 'The Incredible Hulk'), ('Captain America', 'Captain America: The First Avenger')]

## What's in a name?

Which movies are named things other than (just) the name of the lead superhero? Let's experiment with using a LEFT OUTER JOIN to select only the movies that don't share the same name as the lead superhero.  Hint: you will also need a WHERE clause!

In [17]:
# Write the SQL code here:
cursor.execute("""
    SELECT 
        Movies.title, Superheroes.name
    FROM 
        Superheroes 
    LEFT OUTER JOIN 
        Movies ON Superheroes.id = Movies.superhero_id
    WHERE Movies.title NOT LIKE '%' || Superheroes.name || '%'

""")
  
print(cursor.fetchall())

[('Guardians of the Galaxy', 'Starlord')]

In [14]:
cursor.execute("""
    SELECT 
        Movies.title 
    FROM 
        Movies 
    LEFT OUTER JOIN 
        Superheroes ON Movies.title = Superheroes.name 
    WHERE 
        Superheroes.name IS null
""")
  
print(cursor.fetchall())

[('Iron Man 2',), ('Iron Man 3',), ('Guardians of the Galaxy',), ('The Incredible Hulk',), ('Captain America: The First Avenger',)]

...and which superheroes don't have movies named (strictly) after them? Let's use another LEFT OUTER JOIN combined with a WHERE clause to select only the superheroes that *don't* share a name with a movie title.

In [19]:
# Write the SQL code here:
#is there a way to accomplish this without the 'OR' clause?

cursor.execute("""
    SELECT 
        Superheroes.name
    FROM 
        Superheroes 
    LEFT OUTER JOIN 
        Movies ON Superheroes.id = Movies.superhero_id
        WHERE Movies.title NOT LIKE '%' || Superheroes.name || '%' OR Movies.superhero_id is NULL 
""")
  
print(cursor.fetchall())

[('Black Widow',), ('Hawkeye',), ('Starlord',)]

In [16]:
cursor.execute("""
    SELECT 
        Superheroes.name 
    FROM 
        Superheroes 
    LEFT OUTER JOIN 
        Movies ON Superheroes.name = Movies.title 
    WHERE 
        Movies.id IS null
""")
  
print(cursor.fetchall())

[('Black Widow',), ('Captain America',), ('Hawkeye',), ('Hulk',), ('Starlord',)]